 
 
 <div class="container about-background">
     <%= render ("navbar") %>
  <h1>This is the about page</h1>
<div align="center">
<a class="thumbnail"  target="_blank"><img src="/1527.JPG" alt="arata"></a>
<a class="thumbnail centre-profile"></a>
<a class="thumbnail"  target="_blank"><img src="/1907.JPG" alt="chihiro"></a>
</div>
</div>
