 
 
 <div class="container about-background">
     <%= render ("navbar") %>
  <h1>About us</h1>
  
  <div class="profile">
    <div class="arata-profile">
      <!--<a class="thumbnail"  target="_blank"> -->
       <img src="/1527.JPG" alt="arata"></a>
    </div>
      <!--<a class="thumbnail centre-profile"></a> -->
    <div class="chihiro-profile">
       <!--<a class="thumbnail"  target="_blank"> -->
        <img src="/1907.JPG" alt="chihiro"></a>
    </div>
  </div>
</div>

