 <%= render ("navbar") %>
 
<h1>Please register your info here</h1>


<%= form_tag("/welcome/login") do %>

<p>氏名</p>
<input name="name">
<p>Email</p>
<input name="email">
<input type="submit">
<% end %>
