<div class="container homepage">
    <%= render ("navbar") %>
<h1>This is the homepage</h1>
</div>
<div class="msg-container" align="center">
    <h3>お互いの大切な人に、お互いを紹介できたら、あとは楽しく食べて飲んで、話せたらいいなと2人は考えています。
    日曜午後をゆるっとすごしましょう。ドレスコードはありません。
    （クロークをもありません。）お気に入りのセーター、ジーンズ、スニーカーなど、あなたが一番あなたらしい服装で来だされば、うれしいです！
    また、誠に勝手ながら、当日は会費制とさせて頂きますので、ご祝儀などのお心遣いはなさいませんようお願い申し上げます。
    </h2>
</div>

