 <%= render ("navbar") %>

<h1>This is the place page</h1>

2343 Iiyama, Atsugi, Kanagawa, Japan 
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xQthJB6oDaOVvEUUxnbBROp7ZN08c3iU" width="640" height="480"></iframe>

<a href="https://www.facebook.com/table2343atsugi/"><i class="fab fa-facebook-square fa-3x"></i></a>
<a href="https://www.instagram.com/table2343/"><i class="fab fa-instagram fa-3x"></i></a>
<a href="http://2-3-4-3.com/"><img class="lounge_image" src="/2343.png" ></a>
