 <%= render ("navbar") %>
<div class="container">

<div class="when">   
<h1>いつ</h1>
<h3>2018年11月11日（日）</h3>
<h3>12時30開場　13時スタート</h3>
</div> 

<div class="where">
<h1>どこで</h1>
<h2>Loung2343</h2>
<h3>243-0213 神奈川県厚木市飯山2343(3F)</h3>

<h3>アクセス</h3>
<h4>小田急線本厚木駅下車。「あつぎ通り」バス停から、 神奈川中央交通 厚４６系統バス 上分行き 「局前」バス停下車徒歩２分。</h4>
<h4>小田急線本厚木駅下車。「本厚木駅」バス停から 
神奈川中央交通 厚２６系統バス 東京工芸大学行き 「東京工芸大学前」下車徒歩１２分</h4>
</div>

<div class="map">
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xQthJB6oDaOVvEUUxnbBROp7ZN08c3iU" width="640" height="480"></iframe>
</div>

<!--
<a href="https://www.facebook.com/table2343atsugi/"><i class="fab fa-facebook-square fa-3x"></i></a>
<a href="https://www.instagram.com/table2343/"><i class="fab fa-instagram fa-3x"></i></a>
<a href="http://2-3-4-3.com/"><img class="lounge_image" src="/2343.png" ></a>
</div>
-->