@import "bootstrap-sprockets";
@import "bootstrap";

/*
@font-face {
  font-family: 'azuki';
  src: font-url('/assets/azuki.ttf') format('truetype'),
       font-url('/assets/azuki.eot');
  
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'azuki';
  src: font-url("/assets/azuki.eot");
  src: font-url("/assets/azuki.woff") format("woff"), font-url("/assets/azuki.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.navbar {
     background-color: rgba(255,0,0,0);
     border-style:none;
}


.container {
    font-family: 'azuki font', 'Noto Sans Japanese','Yu Gothic',YuGothic,sans-serif;
    text-align:center;
   
}

.homepage {
    background-image:url("/8956.JPG");
    background-position: center center;
    background-size:cover;
    height:700px;
    width: 100%;
    
}


.msg-container h3{
    line-height:2.5em;
}

  


.login {
    background-image:url("/1666.JPG");
    background-position: center center;
    background-size:cover;
    height:700px;
    width: 100%;
}

.lounge_image{
    height:30px;
}

.centre-profile{
    width:200px;
    margin-left:50px;
    margin-right:50px;
    opacity:0;
}
.thumbnail {
    display: inline-block; 
    height: 250px;
    margin-bottom: 15px;
    margin: auto;
}
.thumbnail img {
    height: 100%;
}

.about-background{
    background-image:url("/1666.JPG");
    background-position: center center;
    background-size:cover;
    height:700px;
    width: 100%;
}



.frame-top{
    float:left;
    height:0px;
}

.frame-top-img {
    width:300px;
    
}

.home-msg-wrapper{
    padding-top:100px;
    font-family: 'azuki',sans-serif;
     text-align:center;
     height:400px;
     width:80%;
     margin:0 auto;
    
}

.home-msg-wrapper h3{
    line-height:2.5em;
    font-size:2em;
}
